    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="assets/logo.png" alt="logo">
            </div>
            <div class="footer-text-container">
                <div class="footer-text">
                    <p>© 2025 Plantas de la Suerte. Todos los derechos reservados.</p>
                    <div class="footer-social-media">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>