    <header>
        <div class="logo-search-bar">
            <a href="/">
                <img src="assets/logo.png" alt="logo">
            </a>
            <input type="text" id="buscador" onkeyup="filtrarProductos()" placeholder="Buscar...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/alta">Alta</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/api/traermongo">Mongo</a></li>
            </ul>
        </nav>
    </header>