<header>
        <div class="logo-search-bar">
            <a href="../index.html">
                <img src="../assets/logo.png" alt="logo">
            </a>
            <input type="text" id="buscador" onkeyup="filtrarProductos()" placeholder="Buscar...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="alta.html">Alta</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <div class="formulario">
        <h1>Alta de Productos</h1>
        <input type="text" id="nombreProducto" placeholder="Nombre del Producto">
        <input type="number" id="precioProducto" placeholder="Precio">
        <input type="number" id="stockProducto" placeholder="Stock">
        <input type="text" id="Herbolario" placeholder="Herbolario (marca)">
        <input type="text" id="categoriaProducto" placeholder="Categoría">
        <textarea id="descripcionCortaProducto" placeholder="Descripción Corta"></textarea>
        <textarea id="descripcionLargaProducto" placeholder="Descripción Larga"></textarea>
        <label>
            Envío sin cargo:
            <select id="envioSinCargoProducto">
                <option value="si">Sí</option>
                <option value="no">No</option>
            </select>
        </label>
        <input type="number" id="edadDesdeProducto" placeholder="Edad Desde">
        <input type="number" id="edadHastaProducto" placeholder="Edad Hasta">
        <input type="file" id="fotoProducto">
        <button onclick="agregarProducto()">Agregar Producto</button>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="../assets/logo.png" alt="logo">
            </div>
            <div class="footer-text-container">
                <div class="footer-text">
                    <p>© 2021 Plantas de la Suerte. Todos los derechos reservados.</p>
                    <div class="footer-social-media">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>