    <form class="formulario" id="formularioAlta" method="POST" action="/api/productos">
        <h1>Alta de Productos</h1>
        <input type="text" id="nombreProducto" name="nombreProducto" placeholder="Nombre del Producto" required>
        <input type="number" id="precioProducto" name="precioProducto" placeholder="Precio" required>
        <input type="number" id="stockProducto" name="stockProducto" placeholder="Stock" required>
        <textarea id="descripcionCortaProducto" name="descripcionCortaProducto" placeholder="Descripción Corta" required></textarea>
        <label>
            Envío sin cargo:
            <select id="envioSinCargoProducto" name="envioSinCargoProducto" required>
                <option value="si">Sí</option>
                <option value="no">No</option>
            </select>
        </label>
        <input type="file" id="fotoProducto" name="fotoProducto" required>
        <button type="submit">Agregar Producto</button>
        {{#if errores}}
            <ul style="color: red;">
                {{#each errores}}
                    <li>{{this.msg}}</li>
                {{/each}}
            </ul>
        {{/if}}

    </form>

