    <div class="form-body">
        <div class="container-text">
            <h2>Contacto</h2>
            <P>
                Dejanos tu mensaje
            </P>
        </div>
        <div class="container-form">
            <form class="formulario-contacto" action="/contacto" method="POST">
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <textarea id="comentarios" name="comentarios" rows="5" placeholder="Comentarios" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
