    <main>
        <div class="catalog-text">
            <h1>Plantas</h1>
            <p>En esta sección encontrarás todas las plantas que tenemos disponibles para ti.</p>
        </div>
        <div id="listaProductos" class="catalog">
            <div class="product">
                <img src="assets/monstera-deliciosa.jpg" alt="producto2">
                <h2>Monstera Deliciosa</h2>
                <p>
                    Se adapta a cualquier ambiente
                </p>
                <div class="price">
                    <p>$41.00</p>
                </div>
                <div class="buy-button">
                    <button>Agregar</button>
                </div>
            </div>
            <div class="product">
                <img src="assets/bonsai-olivo.jpg" alt="producto3">
                <h2>Bonsai Olivo 8 años</h2>
                <p>
                    Un olivo en miniatura lindo
                </p>
                <div class="price">
                    <p>$70.00</p>
                </div>
                <div class="buy-button">
                    <button>Agregar</button>
                </div>
            </div>
            <div class="product">
                <img src="assets/palmera-de-aire-viena.jpg" alt="producto4">
                <h2>Palmera de Aire Viena</h2>
                <p>
                    Set de planta y soporte
                </p>
                <div class="price">
                    <p>$41.00</p>
                </div>
                <div class="buy-button">
                    <button>Agregar</button>
                </div>
            </div>
            <div class="product">
                <img src="assets/tradescantia-zebrina.jpg" alt="producto5">
                <h2>Tradescantia Zebrina</h2>
                <p>
                    De lo más resistente
                </p>
                <div class="price">
                    <p>$41.00</p>
                </div>
                <div class="buy-button">
                    <button>Agregar</button>
                </div>
            </div>
            <div class="product">
                <img src="assets/musa-dwarf-cavendish.jpg" alt="producto6">
                <h2>Musa Dwarf Cavendish</h2>
                <p>
                    Exótica y purificadora
                </p>
                <div class="price">
                    <p>$56.00</p>
                </div>
                <div class="buy-button">
                    <button>Agregar</button>
                </div>
            </div>
            <div class="product">
                <img src="assets/jade.jpg" alt="producto7">
                <h2>Jade</h2>
                <p>
                    Dura de matar y muy preciosa
                </p>
                <div class="price">
                    <p>$40.00</p>
                </div>
                <div class="buy-button">
                    <button>Agregar</button>
                </div>
            </div>
            <div class="product">
                <img src="assets/cathalea-medallion.jpg" alt="producto8">
                <h2>Calathea Medallion</h2>
                <p>
                    Regula la humedad de tu hogar
                </p>
                <div class="price">
                    <p>$46.00</p>
                </div>
                <div class="buy-button">
                    <button>Agregar</button>
                </div>
            </div>
            <div class="product">
                <img src="assets/yucca.jpg" alt="producto9">
                <h2>Yucca</h2>
                <p>
                    ¡Un toque exótico!
                </p>
                <div class="price">
                    <p>$66.00</p>
                </div>
                <div class="buy-button">
                    <button>Agregar</button>
                </div>
            </div>
        </div>
    </main>
